# Node.js dependencies
node_modules/

# Visual Studio Code settings
.vscode/

# Yarn dependencies
.yarn/*

# Build output
build/

# Test coverage reports
coverage/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*