* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #163c8d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header h1 {
  font-size: 2em;
}

.about-section {
  margin-bottom: 30px;
}

.about-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  margin: 0;
}

main {
  flex: 1;
  background-color: white;
  background-image: url("background.jpg");
  background-size: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  padding: 10%;
}

.gallery-item {
  text-align: center;
  border: 4px solid #163c8d;
  padding: 2vh 2vh 6vh 2vh;
  border-radius: 15px;
  border-color: black;
  background-color: white;
  width: 10rem;
}

.gallery-item img {
  border-radius: 50%;
  margin-bottom: 10hv;
}

.gallery-item p {
  margin: 0;
}

.gallery-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.gallery-description {
  color: gray;
  font-weight: bold;
}
